<div id="<%= dom_id score %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= score.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Time spent:</strong>
    <%= score.time_spent %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Clicks count:</strong>
    <%= score.clicks_count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Data:</strong>
    <%= score.data %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Best score:</strong>
    <%= score.best_score %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this score", score, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this score', edit_score_path(score), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
